.home-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin-left: 280px;
  padding: 24px;
  background-color: var(--bg-primary);
  min-height: 100vh;
  transition: margin-left var(--transition-normal);

  &.sidebar-collapsed {
    margin-left: 70px;
  }
}

